<!doctype html> <!-- HTML5 -->
<html>
<head>
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">
    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Instruct Internet Explorer to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Meta Description -->
    <meta name="description" content="Start a poll within seconds!">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/main.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block head %}
    {{ include('partial/head.html.twig') }}
{% endblock %}
<div class="container">
    {% block body %}{% endblock %}

</div>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Pollaroid</strong> made with Symfony + Bulma by <a href="https://github.com/enesaktay/">Enes Aktay</a>. The source code is on
                <a href="https://github.com/enesaktay/pollaroid">Github</a>.
            </p>
        </div>
    </div>
</footer>
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
