{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form._token) }}

        {{ form_row(form.question) }}
        {{ form_label(form.answer) }}
        {{ form_errors(form.answer) }}
        <ul id="answer-fields-list"
            data-prototype="{{ form_widget(form.answer.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}">
            {% for answerField in form.answer %}
                <li>
                    {{ form_errors(answerField) }}
                    {{ form_widget(answerField) }}
                </li>
            {% endfor %}
        </ul>

        {#<a href="#"#}
           {#class="add-another-collection-widget"#}
           {#data-list="#answer-fields-list"><i class="fas fa-plus"></i></a>#}

    <a class="button is-info add-another-collection-widget"
       data-list="#answer-fields-list">
        <span class="icon is-big">
          <i class="fas fa-plus"></i>
        </span>
        <span>Answer</span>
    </a>


        {{ form_row(form.visibleToPublic) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.expirationDate) }}
        <output for="form_expirationDate"></output>
        {{ form_row(form.save) }}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}