{% extends 'base.html.twig' %}

{% block body %}

    <section class="hero is-light is-medium is-bold">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <h1 class="has-text-centered is-size-1 has-text-weight-bold has-text-grey">
                                <span class="has-text-grey-darker">Poll</span>aroid
                            </h1>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">
                                Home
                            </a>
                            <a class="navbar-item">
                                <span class="icon">
                                    <i class="fas fa-random"></i>
                                </span>
                                Shuffle
                            </a>
                            <a class="navbar-item">
                                <span class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </span>
                                Register
                            </a>
                            <span class="navbar-item">
                                {#<div class="field">#}
                                  {#<p class="control has-icons-left">#}
                                    {#<input class="input is-small" type="email" placeholder="Email">#}
                                    {#<span class="icon is-small is-left">#}
                                      {#<i class="fas fa-envelope"></i>#}
                                    {#</span>#}
                                  {#</p>#}
                                {#</div>#}
                                {#<div class="field">#}
                                  {#<p class="control has-icons-left">#}
                                    {#<input class="input is-small" type="password" placeholder="Password">#}
                                    {#<span class="icon is-small is-left">#}
                                      {#<i class="fas fa-lock"></i>#}
                                    {#</span>#}
                                  {#</p>#}
                                {#</div>#}
                              <a class="button is-light is-inverted">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Sign In</span>
                              </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    {{ form_start(form) }}
        {{ form_row(form._token) }}

        {{ form_row(form.question) }}
        {{ form_label(form.answer) }}
        {{ form_errors(form.answer) }}
        <ul id="answer-fields-list"
            data-prototype="{{ form_widget(form.answer.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}">
            {% for answerField in form.answer %}
                <li>
                    {{ form_errors(answerField) }}
                    {{ form_widget(answerField) }}
                </li>
            {% endfor %}
        </ul>

        {#<a href="#"#}
           {#class="add-another-collection-widget"#}
           {#data-list="#answer-fields-list"><i class="fas fa-plus"></i></a>#}

    <a class="button is-info add-another-collection-widget"
       data-list="#answer-fields-list">
        <span class="icon is-big">
          <i class="fas fa-plus"></i>
        </span>
        <span>Answer</span>
    </a>


        {{ form_row(form.visibleToPublic) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.expirationDate) }}
        <output for="form_expirationDate"></output>
        {{ form_row(form.save) }}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}