{% extends 'base.html.twig' %}

{% block title %}{{ poll.question }}{% endblock %}

{% block bodyclass %}votePage{% endblock %}

{% block body %}

    {% include 'partial/tos.html.twig' %}

    <section class="hero">
        <div class="hero-body">
            {% include 'partial/navigation.html.twig'
                with {
                'timeLeftToVote': timeLeftToVote,
                'backUrl' : path('create') ,
                'backText' : 'Back to Create',
                'forwardUrl' : path('viewPollResult', {'pollId' : poll.id}),
                'forwardText' : 'View the Results'
            } %}

            <h2 class="subtitle">Poll:</h2>
            <h1 class="title is-1">{{ poll.question }}</h1>
            <div class="answerfield">
                {% form_theme form 'Form/bulma_layout.html.twig' %}
                {{ form_start(form) }}

                {% if poll.allowMultipleAnswers %}
                    <h4 class="subtitle is-5 multiple-answer-subtitle" data-allowed-answer-count="{{ poll.allowedAnswerCount }}">
                        You can select a maximum of <strong>{{ poll.allowedAnswerCount }}</strong> answers.
                    </h4>
                {% endif %}

                {% for key, child in form.answers.children %}
                    <div class="field">
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </div>
                {% endfor %}
            </div>

            <div class="field has-gap-top">
                {{ form_widget(form.acceptedTos) }}
                {# Due to CSS limitations this has to be right next to widget or else it is invisible #}
                <label class="label" for="{{ form.acceptedTos.vars.id }}">
                    {{ form_label(form.acceptedTos) }} <a href="#" class="link is-info"
                                                          id="showTos">Terms of Service</a>
                </label>
                {{ form_errors(form.acceptedTos) }}
            </div>

            {#<div class="field has-gap-top">#}
                {#{{ form_row(form.recaptcha) }}#}
            {#</div>#}

            <div class="field">
                {{ form_row(form.save) }}
            </div>
            {{ form_end(form) }}

        </div>
    </section>


    {% include 'partial/copy.html.twig'
        with {
        'urlToCopy': absolute_url(path('viewPoll', {'pollId' : poll.id })),
        'shareText': 'Share the Poll'
    } %}


{% endblock %}